<!Doctype html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ARVIES | ARCHITECTURE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/arvies/footer-logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- all-CSS-link-here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/flaticon_barsi.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="main-wrapper wa-fix">

        <!-- start preloader -->
        <div class="lw-preloader">
            <div class="loader"><img src="/img/arvies/footer-logo.png" alt="arvies"></div>
        </div>
        <!-- end preloader -->

        <!-- header-start -->
        <header class="bs-header-4-area ">
            <div class="bs-header-4-row d-flex  justify-content-between">

                <!-- logo -->
                <a href="/" aria-label="name" class="bs-header-4-logo">
                    <img src="/img/arvies/footer-logo.png" alt="arvies">
                </a>

                <div class="bs-header-4-right">

                    <!-- main-header -->
                    <div class="bs-header-4-main">

                        <!-- menu -->
                        <nav class="bs-main-navigation  d-none d-lg-block">
                            <ul id="main-nav" class="nav navbar-nav pt-10 ">

                                <li class="">
                                    <a href="/">home</a>

                                </li>
                                <li class="dropdown">
                                    <a style="color: #f16520;" href="/architecture">Architecture</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="/architectureDesigns?category=Residential">Residential</a></li>
                                        <li><a href="/architectureDesigns?category=Commercial">Commercial</a></li>
                                        <li><a href="/architectureDesigns?category=Industrial">Industrial</a></li>
                                        <li><a href="/architectureDesigns?category=Hospitality">Hospitality</a></li>
                                        <li><a href="/architectureDesigns?category=Urban%20Design">Urban Design</a></li>
                                    </ul>
                                </li>
                                </li>
                                <li class="dropdown">
                                    <a href="/interior">Interior</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="/interiorDesign">Design</a></li>
                                        <li><a href="/interiorExecution">Execution</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/realEstate">Real Estate</a>
                                    <ul class="dropdown-menu clearfix">
                                        <!-- <li><a href="siteDevelopment.html">Site Development</a></li> -->
                                        <li><a href="/projects">Project Sales
                                            </a></li>
                                        <!-- <li><a href="/projects">Rental Properties</a></li> -->
                                        <!-- <li><a href="purchaseDivision.html">Purchase Division
</a></li>
   <li><a href="consultancy.html">Consultancy</a></li> -->

                                    </ul>
                                </li>

                                <li><a href="/about">about us </a></li>
                                <li><a href="/contact">contact </a></li>
                            </ul>
                        </nav>

                        <!-- action-link -->
                        <div class="bs-header-4-action-link d-flex align-items-center ">





                            <!-- offcanvas-btn -->
                            <button type="button" aria-label="name" class="bs-offcanvas-btn-3  offcanvas_toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </button>

                        </div>
                    </div>

                </div>





            </div>
        </header>
        <!-- header-end -->

        <!-- breadcrumb-start -->
        <section class="breadcrumb-area wa-p-relative ">
            <div class="breadcrumb-bg-img wa-fix wa-img-cover">
                <img class="wa-parallax-img" src="/img/projects/pd-g-img-3.png" alt="arvies">
            </div>
            <div class="container bs-container-1">
                <div class="breadcrumb-wrap">
                    <h1 class="breadcrumb-title wa-split-right wa-capitalize" data-split-delay="1.1s">
                        <%= title %>
                    </h1>
                    <div class="breadcrumb-list ">
                        <svg class="breadcrumb-list-shape" width="88" height="91" viewBox="0 0 88 91" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M75.3557 83.4825C51.6516 78.2316 30.2731 65.4227 30.8424 38.6307C29.0856 37.5878 27.3642 36.4078 25.6807 35.1082C15.8629 27.5282 7.34269 15.8295 0.970618 3.77828L0 1.94173L3.67259 0L4.64321 1.83605C10.7341 13.3558 18.8345 24.574 28.2197 31.82C29.1853 32.5658 30.1649 33.2687 31.1564 33.9242C31.7447 28.7351 34.2557 18.3221 41.4244 12.7755C53.1965 3.6676 66.5598 9.52271 70.2762 19.1546C74.5799 30.309 65.1659 39.6328 59.589 41.7844C51.0354 45.0846 42.7385 44.3218 35.01 40.8138C35.681 63.7945 54.9747 74.6677 76.0057 79.3717L77.1209 72.3207L87.9707 83.4999L74.2006 90.7853L75.3557 83.4825ZM35.1147 36.2473C42.2964 39.9314 50.0548 41.0102 58.0934 37.9089C62.3617 36.2618 69.6945 29.1868 66.4003 20.6502C63.5203 13.1858 53.0893 9.00325 43.9669 16.0613C37.698 20.9114 35.7338 30.1584 35.2637 34.5703C35.2034 35.1366 35.1536 35.696 35.1147 36.2473Z"
                                fill="white" />
                        </svg>
                        <a href="/">Home</a>
                        <span>Our Projects</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-end -->

        <!-- filters-start -->
        <section class="bs-projects-2-filters pt-40 pb-10">
            <div class="container bs-container-1">
                <form id="architecture-filters-form" method="get" action="/architectureDesigns" class="row g-3 align-items-center justify-content-center">
                    <div class="col-auto">
                        <select style="color: #f16520;  border: 1px solid #f16520;"  name="category" class="form-select" onchange="this.form.submit()">
                            <option value="">All Categories</option>
                            <% categories.forEach(function(cat) { %>
                                <option value="<%= cat %>" <%= selectedCategory === cat ? 'selected' : '' %>><%= cat %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select style="color: #f16520; border: 1px solid #f16520;" name="location" class="form-select" onchange="this.form.submit()">
                            <option value="">All Locations</option>
                            <% locations.forEach(function(loc) { %>
                                <option value="<%= loc %>" <%= selectedLocation === loc ? 'selected' : '' %>><%= loc %></option>
                            <% }) %>
                        </select>
                    </div>
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="limit" value="<%= typeof limit !== 'undefined' ? limit : 9 %>">
                    <noscript>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </noscript>
                </form>
            </div>
        </section>
        <!-- filters-end -->

        <!-- project-start -->
        <section class="bs-projects-2-area pt-10 pb-20">
            <div class="container bs-container-1">

                <!-- section-title -->
                <div class="bs-projects-2-sec-title mb-60 text-center">
                    <h6 class="bs-subtitle-1 ">
                        <span class="icon">
                            <img src="/img/illus/star-shape.png" alt="Arvies">
                            arvies
                        </span>
                    </h6>
                    <h2 class="bs-sec-title-1 wa-split-right wa-capitalize" data-cursor="-opaque">Our Projects</h2>
                </div>

                <% if (architectures && architectures.length > 0) { %>
                <div class="bs-projects-2-wrap mb-10 d-flex flex-wrap">
                    <% architectures.forEach(function(arch, idx) { %>
                        <div class="bs-projects-2-item wa-skew-1 archi-prject" style="width: 33.333%; float: left; padding: 15px 10px; box-sizing: border-box;">
                            <div class="item-img wa-p-relative wa-fix wa-img-cover" style="height: 270px; overflow: hidden;">
                                <a href="/architectureDetails/<%= arch._id %>" aria-label="<%= arch.title %>" data-cursor-text="View">
                                    <% 
                                        // Use images (array of objects with url) as per schema
                                        let imgSrc = (arch.images && arch.images.length && arch.images[0].url) 
                                            ? arch.images[0].url 
                                            : '/img/arvies/default-architecture.jpg';
                                        let imgAlt = (arch.images && arch.images.length && arch.images[0].seoAlt && arch.images[0].seoAlt.trim() !== '') 
                                            ? arch.images[0].seoAlt 
                                            : arch.title;
                                    %>
                                    <img src="<%= imgSrc %>" alt="<%= imgAlt %>" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <h4 class="bs-h-1 item-title wa-skew-1 mt-3">
                                <a href="/architectureDetails/<%= arch._id %>" aria-label="<%= arch.title %>"><%= arch.title %></a>
                            </h4>
                            <div class="text-muted small mt-1">
                                <%= arch.category %>
                                <% if (arch.location) { %> | <%= arch.location %> <% } %>
                            </div>
                        </div>
                        <% /* Add clearfix after every 3 items for row break if needed */ %>
                        <% if ((idx + 1) % 3 === 0) { %>
                            <div class="w-100"></div>
                        <% } %>
                    <% }) %>
                </div>
                <% } else { %>
                    <div class="text-center py-5">
                        <h4>No projects found for the selected Category or Location.</h4>
                    </div>
                <% } %>

                <!-- Pagination -->
                <% if (totalPages && totalPages > 1) { %>
                <div class="bs-pagination d-flex justify-content-center mt-4">
                    <% 
                        // Helper to build query string with updated page
                        function buildQuery(page) {
                            let params = [];
                            if (selectedCategory) params.push('category=' + encodeURIComponent(selectedCategory));
                            if (selectedLocation) params.push('location=' + encodeURIComponent(selectedLocation));
                            if (typeof limit !== 'undefined') params.push('limit=' + encodeURIComponent(limit));
                            params.push('page=' + page);
                            return params.length ? '?' + params.join('&') : '';
                        }
                        let startPage = Math.max(1, currentPage - 2);
                        let endPage = Math.min(totalPages, currentPage + 2);
                        if (endPage - startPage < 4) {
                            if (startPage === 1) endPage = Math.min(totalPages, startPage + 4);
                            else if (endPage === totalPages) startPage = Math.max(1, endPage - 4);
                        }
                    %>
                    <a class="pagi-elm <%= currentPage === 1 ? 'disabled' : '' %>" 
                        href="<%= currentPage === 1 ? '#' : buildQuery(currentPage - 1) %>" 
                        aria-label="Previous">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                    <% for (let i = startPage; i <= endPage; i++) { %>
                        <a class="pagi-elm <%= currentPage === i ? 'is-active' : '' %>" 
                            href="<%= buildQuery(i) %>" 
                            aria-label="Page <%= i %>">
                            <%= i %>
                        </a>
                    <% } %>
                    <a class="pagi-elm <%= currentPage === totalPages ? 'disabled' : '' %>" 
                        href="<%= currentPage === totalPages ? '#' : buildQuery(currentPage + 1) %>" 
                        aria-label="Next">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <% } %>
            </div>
        </section>
        <!-- project-end -->
        <!-- footer-start -->
      <footer class="bs-footer-1-area bg-black wa-fix wa-p-relative pt-80">
                <div style="position: absolute; inset: 0; z-index: 0; pointer-events: none;">
            <img src="/img/arvies/footer.png" alt="arvies"
                style="width:100%; height:100%; object-fit:cover; opacity:0.18;">
        </div>
            <div class="container bs-container-1">
                <div class="bs-footer-1-wrap mb-40">

                    <!-- single-widget -->
                    <div class="bs-footer-1-widget">
                        <a href="/" aria-label="name" class="bs-footer-1-logo" data-cursor="-opaque">
                            <img class="footer-logo" src="/img/arvies/footer-logo.png" alt="arvies">
                        </a>
                        <p class="bs-p-1 bs-footer-1-disc">Arvies specializes in architecture, interior design, urban
                            designing, and real estate crafting spaces with purpose and style.</p>
                    </div>

                    <!-- single-widget -->
                    <div class="bs-footer-1-widget">
                        <h5 class="bs-footer-1-widget-title">Quick Links</h5>
                        <ul class="bs-footer-1-menu wa-list-style-none">
                            <li>
                                <a href="/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    home
                                </a>
                            </li>



                            <li>
                                <a href="/blogs">
                                    <i class="fa-solid fa-angle-right"></i>
                                    blogs
                                </a>
                            </li>
                            <li>
                                <a href="/about">
                                    <i class="fa-solid fa-angle-right"></i>
                                    about us
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <i class="fa-solid fa-angle-right"></i>
                                    contact us
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- single-widget -->


                    <!-- single-widget -->
                    <div class="bs-footer-1-widget">
                        <h5 class="bs-footer-1-widget-title">More Links</h5>
                        <ul class="bs-footer-1-menu wa-list-style-none">
                            <li>
                                <a href="/architecture">
                                    <i class="fa-solid fa-angle-right"></i>
                                    architecture
                                </a>
                            </li>
                            <li>
                                <a href="/interior">
                                    <i class="fa-solid fa-angle-right"></i>
                                    interior
                                </a>
                            </li>
                            <li>
                                <a href="/realEstate">
                                    <i class="fa-solid fa-angle-right"></i>
                                    real estate
                                </a>
                            </li>
                            <li>
                                <a href="/projects">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Project Sales
                                </a>
                            </li>


                        </ul>
                    </div>

                    <!-- single-widget -->
                    <div class="bs-footer-1-widget">
                        <h5 class="bs-footer-1-widget-title">contact</h5>
                        <ul class="bs-footer-1-menu wa-list-style-none">
                            <li>
                                <a href="tel:+916360425940">
                                    <i class="fa-solid fa-phone"></i>
                                    +91 6360 425 940
                                </a>
                            </li>
                            <li>
                                <a style="text-transform: none;" href="mailto:arviesgroup@gmail.com">
                                    <i class="fa-solid fa-mail-bulk"></i>
                                    arviesgroup@gmail.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-location"></i>
                                    A9, CPGP Lane, Jawahar Nagar, <br>  Sasthamangalam, Trivandrum <br> 695010
                                </a>
                            </li>

                        </ul>
                    </div>


                </div>


                <!-- copyright -->
                <div class="bs-footer-4-copyright">
                    <div class="container bs-container-2">
                        <div class="bs-footer-4-copyright-flex">
                            <p class="bs-p-4 bs-footer-4-copyright-text">
                                ©<span class="copyright-year"></span>, <a href="#">Arvis</a> All Rights Reserved |
                                Developed By <a href="https://trivlogic.com/">Trivlogic Private Limited</a>
                            </p>

                            <div class="bs-footer-4-copyright-social">
                                <a href="#" aria-label="name" class="elm-link bs-p-4">
                                    <i class="fa-brands fa-facebook-f"></i>
                                    facebook
                                </a>
                                <a href="https://www.instagram.com/arvies.architecture?igsh=Mjk4eGtkb2hoaDln" aria-label="name" class="elm-link bs-p-4">
                                    <i class="fa-brands fa-instagram"></i>
                                    instagram
                                </a>
                                <a href="#" aria-label="name" class="elm-link bs-p-4">
                                    <i class="fa-brands fa-x-twitter"></i>
                                  X
                                </a>
                                <a href="#" aria-label="name" class="elm-link bs-p-4">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                    linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->

        <!-- offcanvas-start -->
        <div class="wa-offcanvas-area has-home-2  offcanvas_box_active lenis lenis-smooth">
            <div class="wa-offcanvas-wrap ">

                <!-- top -->
                <div class="wa-offcanvas-top">

                    <!-- logo -->
                    <a href="/" aria-label="name" class="wa-offcanvas-top-logo">
                        <img src="/img/arvies/footer-logo.png" alt="Arvies">
 arvies                   </a>

                    <!-- close-btn -->
                    <button class="wa-offcanvas-close offcanvas_box_close" aria-label="name">
                        <span></span>
                        <span></span>
                    </button>

                </div>


                <!-- mobile-menu-list -->
                <nav class="mobile-main-navigation mb-50 d-block d-lg-none">
                    <ul class="navbar-nav">
                        <li class="">
                            <a href="/">home</a>

                        </li>

                        <li><a href="/about">about us</a></li>

                        <li class="dropdown">
                            <a style="color: #f16520;" href="/architecture">Architecture</a>
                            <ul class="dropdown-menu clearfix">
                                <li><a href="/architectureDesigns?category=Residential">Residential</a></li>
                                <li><a href="/architectureDesigns?category=Commercial">Commercial</a></li>
                                <li><a href="/architectureDesigns?category=Industrial">Industrial</a></li>
                                <li><a href="/architectureDesigns?category=Hospitality">Hospitality</a></li>
                                <li><a href="/architectureDesigns?category=Urban%20Design">Urban Design</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/interior">Interior</a>
                            <ul class="dropdown-menu clearfix">
                                <li><a href="/interiorDesign">Design</a></li>
                                <li><a href="/interiorExecution">Execution</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/realEstate">Real Estate</a>
                            <ul class="dropdown-menu clearfix">
                                <!-- <li><a href="siteDevelopment.html">Site Development</a></li> -->
                                <li><a href="/projects">Project Sales
                                    </a></li>
                                <!-- <li><a href="/projects">Rental Properties</a></li> -->
                                <!-- <li><a href="purchaseDivision.html">Purchase Division
</a></li>
   <li><a href="consultancy.html">Consultancy</a></li> -->
                            </ul>
                        </li>



                        <li><a href="/blogs">Blogs </a></li>
                        <li><a href="/contact">Contact </a></li>
                    </ul>
                </nav>
                <div>

                    <p>Arvies is a creative firm specializing in architecture, interior design, urban designing, and
                        real estate. We create thoughtful spaces that blend aesthetic vision with practical excellence.
                    </p>
                    <a class="sidebar-btn" href="tel:+916360425940"> <button
                            style="height: 40px; width: 100%; margin-bottom: 15px;"> Free consultation</button></a>
                </div>

                <div class="wa-offcanvas-gallery">
                    <h6 class="wa-offcanvas-gallery-title bs-h-1 ">Stay Inspired with Instagram</h6>

                    <div class="wa-offcanvas-gallery-grid">
                        <a href="/img/gallery/g2-img-1.png" aria-label="name"
                            class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                            <img src="/img/gallery/g2-img-1.png" alt="Arvies">
     arvies                   </a>
                        <a href="/img/gallery/g2-img-2.png" aria-label="name"
                            class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                            <img src="/img/gallery/g2-img-2.png" alt="Arvies">
     arvies                   </a>
                        <a href="/img/gallery/g2-img-3.png" aria-label="name"
                            class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                            <img src="/img/gallery/g2-img-3.png" alt="Arvies">
     arvies                   </a>
                        <a href="/img/gallery/g2-img-4.png" aria-label="name"
                            class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                            <img src="/img/gallery/g2-img-4.png" alt="Arvies">
     arvies                   </a>
                    </div>
                </div>

                <!-- social -->
                <div class="wa-offcanvas-social">
                    <h6 class="wa-offcanvas-social-title bs-h-1 ">we're on social media:</h6>

                    <div class="wa-offcanvas-social-flex d-flex flex-wrap">
                        <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/arvies.architecture?igsh=Mjk4eGtkb2hoaDln" class="wa-offcanvas-social-link" aria-label="name">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>

                </div>

            </div>

        </div>
        <div class="wa-overly"></div>
        <!-- offcanvas-end -->
        <nav class="premium-mobile-navbar">
            <div class="premium-navbar-container">
                <a href="/" class="premium-nav-link ">
                    <img class="mob-nav-icon" src="/img/icon/menu.svg" alt="Arvies">
                    <span class="premiuarviesm-nav-text">Home</span>
                </a>
                <a style="color: #f16520!important;" href="/architecture" class="premium-nav-link">
                    <img class="mob-nav-icon" src="/img/icon/architec.svg" alt="Arvies">
                    <span class="premiumarvies-nav-text">Archi</span>
                </a>
                <a href="/interior" class="premium-nav-link">
                    <img class="mob-nav-icon" src="/img/icon/inder.svg" alt="Arvies">
                    <span class="premium-naarviesv-text">Interior</span>
                </a>

                <a href="/projects" class="premium-nav-link active-premium-nav">
                    <img class="mob-nav-icon" src="/img/icon/real.svg" alt="Arvies">
                    <span class="premium-nav-tarviesext">Realestate</span>
                </a>

                <a href="/projects" class="premium-nav-link active-premium-nav">
                    <img class="mob-nav-icon" src="/img/icon/phone.svg" alt="Arvies">
                    <span class="premium-narviesav-text">Contact</span>
                </a>






            </div>
        </nav>
        <div class="social-icon-container" id="whatsappIcon">
            <a href="https://wa.me/+916360425940?text=Hi%20there!%20I%20need%20help.">
                <img src="/img/icon/whatsapp.png" alt="WhatsApp Icon">
            </a>
        </div>
        <!-- back-to-top-button-start -->
        <div class="wa-back-to-top ">
            <span class="wa-back-to-top-text">Top</span>
        </div>
        <!-- back-to-top-button-end -->

    </div>


    <!-- all-JS-link-here -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/magiccursor.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/marquee.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/SplitText.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/CustomEase.min.js"></script>
    <script src="/js/counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/lenis.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        let lastScroll = 0;
        const whatsappIcon = document.getElementById('whatsappIcon');

        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;


            if (currentScroll <= 0) {
                whatsappIcon.classList.remove('show');
                return;
            }


            if (currentScroll > lastScroll) {
                whatsappIcon.classList.add('show');
            }

            else {
                whatsappIcon.classList.remove('show');
            }

            lastScroll = currentScroll;
        });
    </script>
</body>


</html>