<!Doctype html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ARVIES | HOME</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/arvies/footer-logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- all-CSS-link-here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/flaticon_barsi.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="bs-home-4">
    <div class="main-wrapper wa-fix">

        <!-- start preloader -->
        <div class="lw-preloader">
            <div class="loader"><img src="/img/arvies/footer-logo.png" alt="arvies"></div>
        </div>
        <!-- end preloader -->

        <!-- header-start -->
        <header class="bs-header-4-area ">
            <div class="bs-header-4-row d-flex  justify-content-between">

                <!-- logo -->
                <a href="/" aria-label="name" class="bs-header-4-logo">
                    <img src="/img/arvies/footer-logo.png" alt="arvies">
                </a>

                <div class="bs-header-4-right">

                    <!-- main-header -->
                    <div class="bs-header-4-main">

                        <!-- menu -->
                        <nav class="bs-main-navigation  d-none d-lg-block">
                            <ul id="main-nav" class="nav navbar-nav pt-10 ">

                                <li class="">
                                    <a style="color: #f16520;" href="/">home</a>

                                </li>
                                <li class="dropdown">
                                    <a href="/architecture">Architecture</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="/architectureDesigns?category=Residential">Residential</a></li>
                                        <li><a href="/architectureDesigns?category=Commercial">Commercial</a></li>
                                        <li><a href="/architectureDesigns?category=Industrial">Industrial</a></li>
                                        <li><a href="/architectureDesigns?category=Hospitality">Hospitality</a></li>
                                        <li><a href="/architectureDesigns?category=Urban%20Design">Urban Design</a></li>
                                    </ul>
                                </li>
                                </li>
                                <li class="dropdown">
                                    <a href="/interior">Interior</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="/interiorDesign">Design</a></li>
                                        <li><a href="/interiorExecution">Execution</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/realEstate">Real Estate</a>
                                    <ul class="dropdown-menu clearfix">
                                        <!-- <li><a href="siteDevelopment.html">Site Development</a></li> -->
                                        <li><a href="/projects">Project Sales
                                            </a></li>
                                        <!-- <li><a href="/projects">Rental Properties</a></li> -->
                                        <!-- <li><a href="purchaseDivision.html">Purchase Division
</a></li>
   <li><a href="consultancy.html">Consultancy</a></li> -->

                                    </ul>
                                </li>
                                <li><a href="/about">About us </a></li>
                                <li><a href="/contact">Contact  </a></li>
                            </ul>
                        </nav>

                        <!-- action-link -->
                        <div class="bs-header-4-action-link d-flex align-items-center ">
                            <!-- offcanvas-btn -->
                            <button type="button" aria-label="name" class="bs-offcanvas-btn-3  offcanvas_toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </button>

                        </div>
                    </div>

                </div>





            </div>
        </header>
        <!-- header-end -->

        <!-- hero-start -->
        <section class="bs-hero-4-area wa-p-relative pt-50 wa-fix">
            <div class="container bs-container-2">
                <div class="bs-hero-4-content">
                    <h1 class="bs-hero-4-title bs-h-4 wa-split-y cd-headline clip " data-split-delay="1s">
                        Designing Dreams. <br>
                        <span class="cd-words-wrapper single-headline">
                            <b class="is-visible">Architecture</b>
                            <b>Interior Design</b>
                            <b>Real Estate</b>

                        </span>
                    </h1>
                    <div class="inner-div">
                        <!-- <a href="/about" aria-label="name" class="bs-hero-4-circle-btn wa-magnetic-btn">
                            <span class="btn-icon ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.00001 7C8.00001 6.73478 8.10537 6.48043 8.2929 6.29289C8.48044 6.10536 8.73479 6 9.00001 6H17C17.2652 6 17.5196 6.10536 17.7071 6.29289C17.8947 6.48043 18 6.73478 18 7V15C18 15.2652 17.8947 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16C16.7348 16 16.4804 15.8946 16.2929 15.7071C16.1054 15.5196 16 15.2652 16 15V9.414L7.70701 17.707C7.51841 17.8892 7.26581 17.99 7.00361 17.9877C6.74141 17.9854 6.4906 17.8802 6.30519 17.6948C6.11978 17.5094 6.01461 17.2586 6.01234 16.9964C6.01006 16.7342 6.11085 16.4816 6.29301 16.293L14.586 8H9.00001C8.73479 8 8.48044 7.89464 8.2929 7.70711C8.10537 7.51957 8.00001 7.26522 8.00001 7Z"
                                        fill="#F16319" />
                                </svg>
                            </span>
                            <img style="height: 100px;" src="/img/arvies/circlepng.png" alt="arvies">
                        </a> -->
                        <p class="bs-p-4 bs-hero-4-disc wa-split-y" data-split-delay="1.6s">We create timeless
                            architectural spaces, curate refined interior experiences, and deliver real estate solutions
                            that add lasting value</p>
                    </div>
                </div>
            </div>

            <!-- slider -->
            <div class="bs-hero-4-slider">

                <div class="bs-hero-4-slider-img">
                    <div class="swiper-container bs-h4-img-active wa-fix">
                        <div class="swiper-wrapper">

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-img-item ">
                                    <div class="main-img wa-img-cover">
                                        <img src="/img/hero/h4-img-1.png" alt="arvies">
                                    </div>
                                    <!-- trusted -->
                                    <!-- <div class="bs-hero-4-slider-img-item-trusted">
                                        <h5 class="bs-h-4 title">trusted</h5>
                                        <p class="bs-p-4 ratting">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            4.8 view
                                        </p>

                                        <p class="bs-p-4 disc">
                                            discover the architectural
                                        </p>
                                    </div> -->
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-img-item ">
                                    <div class="main-img wa-img-cover">
                                        <img src="/img/hero/h4-img-2.png" alt="arvies">
                                    </div>
                                    <!-- trusted -->
                                    <!-- <div class="bs-hero-4-slider-img-item-trusted">
                                        <h5 class="bs-h-4 title">trusted</h5>
                                        <p class="bs-p-4 ratting">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            4.8 view
                                        </p>

                                        <p class="bs-p-4 disc">
                                            discover the architectural
                                        </p>
                                    </div> -->
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-img-item ">
                                    <div class="main-img wa-img-cover">
                                        <img src="/img/hero/h4-img-3.png" alt="arvies">
                                    </div>
                                    <!-- trusted -->
                                    <!-- <div class="bs-hero-4-slider-img-item-trusted">
                                        <h5 class="bs-h-4 title">trusted</h5>
                                        <p class="bs-p-4 ratting">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            4.8 view
                                        </p>

                                        <p class="bs-p-4 disc">
                                            discover the architectural
                                        </p>
                                    </div> -->
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-img-item ">
                                    <div class="main-img wa-img-cover">
                                        <img src="/img/hero/h4-img-4.png" alt="arvies">
                                    </div>
                                    <!-- trusted -->
                                    <!-- <div class="bs-hero-4-slider-img-item-trusted">
                                        <h5 class="bs-h-4 title">trusted</h5>
                                        <p class="bs-p-4 ratting">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            4.8 view
                                        </p>

                                        <p class="bs-p-4 disc">
                                            discover the architectural
                                        </p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-hero-4-slider-thum">
                    <div class="swiper-container bs-h4-thum-active wa-fix">
                        <div class="swiper-wrapper">

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-thum-item wa-img-cover wa-fix">
                                    <img src="/img/hero/h4-thum-1.png" alt="arvies">
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-thum-item wa-img-cover wa-fix">
                                    <img src="/img/hero/h4-thum-2.png" alt="arvies">
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-thum-item wa-img-cover wa-fix">
                                    <img src="/img/hero/h4-thum-3.png" alt="arvies">
                                </div>
                            </div>

                            <!-- single-slide -->
                            <div class="swiper-slide">
                                <div class="bs-hero-4-slider-thum-item wa-img-cover wa-fix">
                                    <img src="/img/hero/h4-thum-1.png" alt="arvies">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="bs-hero-4-bg"></div>
        </section>
        <!-- hero-end -->

        <!-- core-feature-start -->
        <section class="bs-core-features-1-area pt-80">
            <div class="container bs-container-1">
                <div class="bs-core-features-1-wrap">

                    <!-- single-item -->
                    <div class="bs-core-features-1-item">
                        <div class="icon abt-icon">
                            <img src="/img/arvies/icons/architecture.png" alt="arvies" style="padding: 5px;">
                        </div>
                        <div class="content abt-text">
                            <h5 class="bs-h-1  item-title">
                                <a class="" href="/architecture" aria-label="name">architecture</a>
                            </h5>
                            <p class="bs-p-1 item-disc">Thoughtful Planning</p>
                        </div>

                    </div>

                    <div class="shape">
                        <img src="/img/illus/star-shape.png" alt="arvies">
                    </div>

                    <!-- single-item -->
                    <div class="bs-core-features-1-item">
                        <div class="icon">
                            <img src="/img/arvies/icons/livingroom.png" alt="arvies" style="padding: 5px;">
                        </div>
                        <div class="content abt-text">
                            <h5 class="bs-h-1 item-title">
                                <a href="/interior" aria-label="name">Interior</a>
                            </h5>
                            <p class="bs-p-1 item-disc">Design & Execution</p>
                        </div>

                    </div>

                    <div class="shape">
                        <img src="/img/illus/star-shape.png" alt="arvies">
                    </div>

                    <!-- single-item -->
                    <div class="bs-core-features-1-item">
                        <div class="icon">
                            <img src="/img/arvies/icons/agreement.png" alt="arvies" style="padding: 5px;">
                        </div>
                        <div class="content abt-text">
                            <h5 class="bs-h-1 item-title">
                                <a href="/realEstate" aria-label="name">Real Estate</a>
                            </h5>
                            <p class="bs-p-1 item-disc">Growth and progress</p>
                        </div>

                    </div>






                </div>
            </div>
        </section>
        <!-- core-feature-end -->

        <!-- about-start -->
        <section class="bs-about-4-area pt-45 pb-125 wa-fix">
            <div class="container bs-container-2">
                <h5 class="bs-subtitle-4 ">
                    <span class="text">about us</span>
                    <span class="icon">
                        <img src="/img/illus/subtitle-4-icon.svg" alt="arvies">
                    </span>
                </h5>

                <div class="bs-about-4-wrap">

                    <!-- left-content -->
                    <div class="bs-about-4-content">
                        <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque">Shaping
                            Spaces with Purpose and Precision.</h2>

                        <div class="inner-div">
                            <p class="bs-p-4 disc wa-fadeInUp">Arvies is a multidisciplinary firm offering comprehensive
                                and expert-driven solutions in architecture, real estate, and interior design. We
                                combine visionary creativity with practical functionality and strict regulatory
                                compliance to bring every project to life with purpose and precision. Our approach is
                                rooted in a deep understanding of space, aesthetics, and user needs—resulting in
                                environments that are not only visually striking but also highly functional,
                                sustainable, and built to last. At Arvies, we strive to create spaces that truly
                                inspire, elevate everyday living, and deliver lasting value.</p>

                        </div>

                        <div class="illus wa-clip-left-right">
                            <img src="/img/about/a4-illus-1.png" alt="arvies">
                        </div>

                        <!-- feature -->
                        <div class="bs-about-4-feature">

                            <div class="btn-wrap wa-fadeInUp">
                                <a href="/about" aria-label="name" class="bs-pr-btn-2">
                                    <span class="text" data-back="know about us" data-front="know about us"></span>
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="box box-1"></span>
                                    <span class="box box-2"></span>
                                    <span class="box box-3"></span>
                                    <span class="box box-4"></span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="bs-about-4-right">

                        <div class="bs-about-4-project wa-bg-default wa-parallax-item-right-left"
                            data-background="/img/about/a4-bg-img-1.png">
                            <div class="icon">
                                <i class="flaticon-right-arrow flaticon"></i>
                            </div>
                            <h4 class="bs-h-4 title">
                                <a href="/architecture" aria-label="name">see projects</a>
                            </h4>
                            <p class="bs-p-4 disc">Explore our portfolio of architecture, interiors, and real estate
                                projects.</p>
                        </div>

                        <div class="bs-about-4-img wa-fix wa-img-cover">
                            <img class="wa-parallax-img" src="/img/about/a4-img-1.png" alt="arvies">
                        </div>

                        <div class="illus-2">
                            <img src="/img/about/a4-illus-2.png" alt="arvies">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-end -->



        <!-- services-start -->
        <section class="bs-services-4-area pt-20 wa-fix " data-background="/img/services/s4-bg.png">
       
            <div class="container bs-container-2">
                <h5 class="bs-subtitle-4 bs-services-4-subtitle">
                    <span class="text">services</span>
                    <span class="icon">
                        <img src="/img/illus/subtitle-4-icon-2.svg" alt="arvies">
                    </span>
                </h5>

                <div class="bs-services-4-wrap">

                    <!-- left-content -->
                    <div class="bs-services-4-content">

                        <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque">Where
                            Architecture, Interiors & Real Estate Align.</h2>

                        <p class="bs-p-4 disc wa-fadeInUp">At Arvies, we unify architecture, interior design, and real
                            estate to deliver cohesive, functional, and beautifully designed spaces.

                            .</p>

                        <div class="btn-wrap wa-fadeInUp">
                            <a href="/contact" aria-label="name" class="bs-pr-btn-2">
                                <span class="text" data-back="Contact Us" data-front="Contact Us"></span>
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="box box-1"></span>
                                <span class="box box-2"></span>
                                <span class="box box-3"></span>
                                <span class="box box-4"></span>
                            </a>
                        </div>
                    </div>

                    <!-- right-item -->
                    <div class="bs-services-4-item">

                        <!-- single-item -->
                        <div class="bs-services-4-item-single wa-bg-default active "
                            data-background="/img/services/s4-card-bg.png">
                            <div class="active-content">
                                <h4 class="bs-h-1 title">
                                    <a href="/architecture" aria-label="name"
                                        class="wa-line-limit has-line-2">architecture </a>
                                </h4>
                                <div class="main-img wa-fix wa-img-cover">
                                    <img src="/img/services/s4-img-2.png" alt="arvies">
                                </div>
                                <p class="bs-p-4 disc wa-line-limit has-line-3">Arvies offers architectural design
                                    rooted in innovation and functionality — crafting spaces that balance beauty with
                                    practical performance.</p>
                            </div>
                            <div class="default-content">
                                <div class="img-2 wa-fix wa-img-cover">
                                    <img src="/img/services/s4-img-2.png" alt="arvies">
                                </div>
                                <h4 class="bs-h-1 title-2 wa-line-limit has-line-1">
                                    architecture
                                </h4>
                            </div>
                        </div>
                        <div class="bs-services-4-item-single wa-bg-default "
                            data-background="/img/services/s4-card-bg.png">
                            <div class="active-content">
                                <h4 class="bs-h-1 title">
                                    <a href="/architecture" aria-label="name" class="wa-line-limit has-line-2">Urban
                                        Designs</a>
                                </h4>
                                <div class="main-img wa-fix wa-img-cover">
                                    <img src="/img/arvies/urban.jpg" alt="arvies">
                                </div>
                                <p class="bs-p-4 disc wa-line-limit has-line-3">Arvies delivers urban design solutions
                                    that shape sustainable, connected, and vibrant communities — blending aesthetics
                                    with smart planning for future-ready cities.</p>
                            </div>
                            <div class="default-content">
                                <div class="img-2 wa-fix wa-img-cover">
                                    <img src="/img/arvies/urban.jpg" alt="arvies">
                                </div>
                                <h4 class="bs-h-1 title-2 wa-line-limit has-line-1">
                                    Urban Designs
                                </h4>
                            </div>
                        </div>

                        <!-- single-item -->
                        <div class="bs-services-4-item-single wa-bg-default "
                            data-background="/img/services/s4-card-bg.png">
                            <div class="active-content">
                                <h4 class="bs-h-1 title">
                                    <a href="/interior" aria-label="name" class="wa-line-limit has-line-2">interior</a>
                                </h4>
                                <div class="main-img wa-fix wa-img-cover">
                                    <img src="/img/arvies/interior.jpg" alt="arvies">
                                </div>
                                <p class="bs-p-4 disc wa-line-limit has-line-3">Arvies crafts interiors that blend
                                    aesthetics and purpose — creating environments that feel as good as they look.</p>
                            </div>
                            <div class="default-content">
                                <div class="img-2 wa-fix wa-img-cover">
                                    <img src="/img/arvies/interior.jpg" alt="arvies">
                                </div>
                                <h4 class="bs-h-1 title-2 wa-line-limit has-line-1">
                                    interior
                                </h4>
                            </div>
                        </div>

                        <!-- single-item -->
                        <div class="bs-services-4-item-single wa-bg-default "
                            data-background="/img/services/s4-card-bg.png">
                            <div class="active-content">
                                <h4 class="bs-h-1 title">
                                    <a href="/realEstate" aria-label="name" class="wa-line-limit has-line-2">Real
                                        <br>estate</a>
                                </h4>
                                <div class="main-img wa-fix wa-img-cover">
                                    <img src="/img/arvies/real.jpg" alt="arvies">
                                </div>
                                <p class="bs-p-4 disc wa-line-limit has-line-3">Arvies offers end-to-end real estate
                                    solutions from property sourcing to strategic development, focused on long-term
                                    value and vision.</p>
                            </div>
                            <div class="default-content">
                                <div class="img-2 wa-fix wa-img-cover">
                                    <img src="/img/arvies/real.jpg" alt="arvies">
                                </div>
                                <h4 class="bs-h-1 title-2 wa-line-limit has-line-1">
                                    Real estate
                                </h4>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- services-end -->

        <!-- project-start -->
        <section class="bs-property-1-area pt-50 pb-50">
            <div class="container bs-container-1">
                <div class="bs-blog-4-content">
                    <h5 class="bs-subtitle-4 ">
                        <span class="text">Our Projects</span>
                        <span class="icon">
                            <img src="/img/illus/subtitle-4-icon.svg" alt="arvies">
                        </span>
                    </h5>
                    <div class="inner-div">
                        <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque">Take a Look
                            at Our Latest projects.</h2>
                        <div class="btn-wrap wa-fadeInRight">
                            <a id="more-projects-link" href="/interiorDesign" aria-label="name" class="bs-pr-btn-2">
                                <span class="text" id="more-projects-text"></span>
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="box box-1"></span>
                                <span class="box box-2"></span>
                                <span class="box box-3"></span>
                                <span class="box box-4"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-filter-btns" style="display: flex; gap: 16px; margin-bottom: 32px;">
                    <button class="bs-pr-btn-2 filter-btn active" data-filter="all" type="button">
                        All
                    </button>
                    <button class="bs-pr-btn-2 filter-btn" data-filter="architecture" type="button">
                        Architecture
                    </button>
                    <button class="bs-pr-btn-2 filter-btn" data-filter="interior" type="button">
                        Interior
                    </button>
                </div>
                <div class="project-grid">
                    <% const allProjects=[]; if (Array.isArray(architectures)) { architectures.forEach(function(item) {
                        allProjects.push({ ...item, _type: 'architecture' , name: item.title, images: item.images,
                        detailsUrl: '/architectureDetails/' + item._id, category: 'architecture' }); }); } if
                        (Array.isArray(interiors)) { interiors.forEach(function(item) { allProjects.push({ ...item,
                        _type: 'interior' , name: item.title, images: item.images, detailsUrl: '/interior/' + item._id,
                        category: 'interior' }); }); } %>
                        <% if (allProjects.length> 0) { %>
                            <% allProjects.forEach(function(project, idx) { %>
                                <div class="project-card" data-category="<%= project.category %>">
                                    <div class="image-slider-wrapper">
                                        <div class="image-slider-container" data-slider="slider<%= idx+1 %>">
                                            <% if (Array.isArray(project.images) && project.images.length> 0) { %>
                                                <% project.images.forEach(function(img, imgIdx) { %>
                                                    <img src="<%= img.url %>" alt="<%= img.seoAlt || project.name %>"
                                                        class="slider-image">
                                                    <% }) %>
                                                        <% } %>
                                        </div>
                                        <button class="slider-nav-buttons slider-prev"
                                            data-target="slider<%= idx+1 %>">‹</button>
                                        <button class="slider-nav-buttons slider-next"
                                            data-target="slider<%= idx+1 %>">›</button>
                                        <div class="slider-indicators" data-indicators="slider<%= idx+1 %>">
                                            <% if (Array.isArray(project.images) && project.images.length> 0) { %>
                                                <% project.images.forEach(function(img, imgIdx) { %>
                                                    <div class="indicator-dot <%= imgIdx === 0 ? 'active-indicator' : '' %>"
                                                        data-slide="<%= imgIdx %>"></div>
                                                    <% }) %>
                                                        <% } %>
                                        </div>
                                    </div>
                                    <div class="project-details">
                                        <a href="<%= project.detailsUrl %>">
                                            <h3 class="project-name">
                                                <%= project.name %>
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <div
                                            style="grid-column: 1/-1; text-align: center; color: #888; font-size: 1.2em;">
                                            No projects found.
                                        </div>
                                        <% } %>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const filterBtns = document.querySelectorAll('.project-filter-btns .filter-btn');
                    const cards = document.querySelectorAll('.project-card');
                    const moreProjectsLink = document.getElementById('more-projects-link');
                    const moreProjectsText = document.getElementById('more-projects-text');
                    function updateMoreProjectsLink(filter) {
                        if (filter === 'architecture') {
                            moreProjectsLink.href = '/architectureDesigns';
                            moreProjectsText.textContent = 'More Architecture';
                        } else if (filter === 'interior') {
                            moreProjectsLink.href = '/interiorDesign';
                            moreProjectsText.textContent = 'More Interior';
                        } else {
                            moreProjectsLink.href = '/projects';
                            moreProjectsText.textContent = 'More Projects';
                        }
                    }
                    updateMoreProjectsLink('all');
                    filterBtns.forEach(btn => {
                        btn.addEventListener('click', function () {
                            filterBtns.forEach(b => b.classList.remove('active'));
                            btn.classList.add('active');
                            const filter = btn.getAttribute('data-filter');
                            cards.forEach(card => {
                                if (filter === 'all' || card.getAttribute('data-category') === filter) {
                                    card.style.display = '';
                                } else {
                                    card.style.display = 'none';
                                }
                            });
                            updateMoreProjectsLink(filter);
                        });
                    });
                });
            </script>
    </div>
    </section>
    <!-- project-end -->

    <!-- team-start -->
    <section class="bs-team-4-area pt-50 pb-50 wa-fix">
        <div class="container bs-container-2">


            <h5 class="bs-subtitle-4 bs-team-4-subtitle">
                <span class="text">Our Process</span>
                <span class="icon">
                    <img src="/img/illus/subtitle-4-icon.svg" alt="arvies">
                </span>
            </h5>

            <div class="bs-team-4-wrap">

                <!-- left-content -->
                <div class="bs-team-4-content">

                    <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque"> Turning Ideas
                        into Spaces That Work and Inspire</h2>

                    <p class="bs-p-4 disc wa-fadeInUp"> At Arvies, we follow a collaborative and refined process — from
                        understanding your needs, shaping creative concepts, and developing smart architectural plans to
                        delivering beautifully finished interiors and real estate solutions. Every step is structured
                        for clarity, quality, and results.</p>

                    <div class="btn-wrap wa-fadeInUp">
                        <a href="/contact" aria-label="name" class="bs-pr-btn-2">
                            <span class="text" data-back="Contact Us" data-front="Contact Us"></span>
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="box box-1"></span>
                            <span class="box box-2"></span>
                            <span class="box box-3"></span>
                            <span class="box box-4"></span>
                        </a>
                    </div>
                </div>

                <!-- right-img -->
                <div class="bs-team-4-img wa-fix wa-img-cover wa-clip-left-right">
                    <img src="/img/team/t4-big-img.png" alt="arvies">
                </div>
            </div>




        </div>
    </section>
    <!-- team-end -->

    <!-- blog-start -->
    <section class="bs-blog-4-area pb-50 pt-50">
        <div class="container bs-container-2">

            <!-- content -->
            <div class="bs-blog-4-content">
                <h5 class="bs-subtitle-4 ">
                    <span class="text">blog & news</span>
                    <span class="icon">
                        <img src="/img/illus/subtitle-4-icon.svg" alt="arvies">
                    </span>
                </h5>
                <div class="inner-div">
                    <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque">Take a Look at
                        Our Latest blogs & Articles.</h2>

                    <div class="btn-wrap wa-fadeInRight">
                        <a href="/blogs" aria-label="name" class="bs-pr-btn-2">
                            <span class="text" data-back="View All Blog" data-front="View All Blog"></span>
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="box box-1"></span>
                            <span class="box box-2"></span>
                            <span class="box box-3"></span>
                            <span class="box box-4"></span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="bs-blog-4-wrap">
                <% if (typeof blogs !=='undefined' && Array.isArray(blogs) && blogs.length> 0) { %>
                    <% blogs.slice(0, 3).forEach(function(blog, idx) { %>
                        <div class="bs-blog-4-item wow fadeInRight" <% if(idx> 0) { %> data-wow-delay=".<%= idx * 2 %>s"
                                <% } %>>
                                    <div class="item-img wa-fix wa-img-cover">
                                        <a href="/blogdetails?id=<%= blog._id %>" aria-label="name"
                                            data-cursor-text="View">
                                            <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="/blogdetails?id=<%= blog._id %>" aria-label="name" class="item-btn">
                                            <i class="flaticon-top-right flaticon"></i>
                                        </a>
                                        <p class="bs-p-4 author">
                                            <%= blog.author %>
                                        </p>
                                        <h4 class="title bs-h-1">
                                            <a href="/blogdetails?id=<%= blog._id %>" aria-label="name">
                                                <%= blog.title %>
                                            </a>
                                        </h4>
                                        <p class="item-meta bs-p-4">
                                            <span class="categories">Arvies</span>
                                            <span class="date">
                                                <% var dateObj=new Date(blog.createdAt); var months=["Jan", "Feb"
                                                    , "Mar" , "Apr" , "May" , "Jun" , "Jul" , "Aug" , "Sep" , "Oct"
                                                    , "Nov" , "Dec" ]; var formattedDate=months[dateObj.getMonth()]
                                                    + " " + dateObj.getDate() + ", " + dateObj.getFullYear(); %>
                                                    <%= formattedDate %>
                                            </span>
                                        </p>
                                    </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <div style="padding:2rem 0; text-align:center; color:#888;">
                                    No blogs available at the moment.
                                </div>
                                <% } %>
            </div>

        </div>
    </section>

    <section class="bs-testimonial-4-area wa-fix wa-p-relative pt-50 pb-50 home-testi">

        <div class="bs-testimonial-4-bg"></div>

        <div class="container bs-container-2">
            <div class="bs-testimonial-4-content">
                <h5 class="bs-subtitle-4 ">
                    <span class="text">testimonial</span>
                    <span class="icon">
                        <img src="/img/illus/subtitle-4-icon.svg" alt="">
                    </span>
                </h5>
                <div class="inner-div">
                    <h2 class="bs-sec-title-4 title wa-split-right wa-capitalize" data-cursor="-opaque">See What Our
                        Valued Customers Say Our Services.</h2>

                    <div class="btn-wrap">
                        <a href="/contact" aria-label="name" class="bs-pr-btn-2">
                            <span class="text" data-back="Contact Us" data-front="Contact Us"></span>
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="box box-1"></span>
                            <span class="box box-2"></span>
                            <span class="box box-3"></span>
                            <span class="box box-4"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-testimonial-4-slider wa-fadeInUp">
            <div class="swiper-container wa-fix bs-t4-active">
                <div class="swiper-wrapper">
                    <% if (typeof testimonials !=='undefined' && Array.isArray(testimonials) && testimonials.length> 0)
                        { %>
                        <% testimonials.forEach(function(testimonial) { %>
                            <div class="swiper-slide">
                                <div class="bs-testimonial-4-slider-item">
                                    <div class="content">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div style="margin-top: 2rem!important;" class="bs-star-1 ">
                                                <% var rating=testimonial.rating || 5; for (var i=0; i < rating; i++) {
                                                    %>
                                                    <i class="fa-solid fa-star"></i>
                                                    <% } %>
                                                        <% for (var i=rating; i < 5; i++) { %>
                                                            <i class="fa-regular fa-star"></i>
                                                            <% } %>
                                            </div>
                                            <div>
                                                <img style="height: 50px;" src="/img/arvies/google-logo.png"
                                                    alt="Google Logo">
                                            </div>
                                        </div>
                                        <p class="bs-p-4 comment">"<%= testimonial.content %>"</p>
                                        <div
                                            style="display: flex; justify-content: space-between; align-items: center;">
                                            <div>
                                                <h4 class="bs-p-4 name">
                                                    <%= testimonial.name %>
                                                </h4>
                                                <div class="bs-p-4" style="font-size: 0.9em; color: #888;">
                                                    <%= testimonial.designation %>
                                                </div>
                                            </div>
                                            <div>
                                                <img style="height: 60px; width: 60px;  border-radius: 50%; object-fit: cover;"
                                                    src="<%= testimonial.imageUrl %>" alt="<%= testimonial.name %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <div class="swiper-slide">
                                        <div class="bs-testimonial-4-slider-item">
                                            <div class="content" style="text-align:center; color:#888;">
                                                No testimonials available at the moment.
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                </div>
            </div>
        </div>

        <div class="container ">
            <div class="bs-testimonial-4-slider-btn wa-fadeInUp">
                <div class="btn-elm bs-t4-prev">
                    <i class="fa-solid fa-angle-left"></i>
                    prev
                </div>
                <div class="pagination  wa-p-relative">
                    <div class="bs-t4-pagination"></div>
                </div>
                <div class="btn-elm bs-t4-next">
                    next
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-end -->
    <!-- contact-start -->
    <section class="bs-contact-4-area wa-fix wa-p-relative">
        <div class="bs-contact-4-bg wa-fix wa-img-cover wa-p-relative">
            <img class="wa-parallax-img" src="/img/contact/c4-img-1.png" alt="arvies">
            <img src="/img/contact/c4-grow-1.png" alt="arvies" class="glow-1">
        </div>
        <div class="container bs-container-2">
            <div class="bs-contact-4-wrap">

                <!-- left-form -->
                <div class="bs-contact-4-form">
                    <h5 class="bs-h-1 title">Get In Touch With Us Today!</h5>

                    <form id="contactForm" class="bs-form-1 " autocomplete="off">

                        <div class="bs-form-1-item wa-clip-left-right">
                            <label class="bs-form-1-item-label" for="name">name</label>
                            <input id="name" class="bs-form-1-item-input " type="text" aria-label="name"
                                placeholder="e.g. John" autocomplete="off">
                        </div>

                        <div class="bs-form-1-item wa-clip-left-right">
                            <label class="bs-form-1-item-label" for="phone">phone</label>
                            <input id="phone" class="bs-form-1-item-input " type="number" aria-label="name"
                                placeholder="e.g. +91 1234567890" autocomplete="off">
                        </div>

                        <div class="bs-form-1-item wa-clip-left-right">
                            <label class="bs-form-1-item-label" for="email">email</label>
                            <input id="email" class="bs-form-1-item-input " type="email" aria-label="name"
                                placeholder="example@email.com" autocomplete="off">
                        </div>
                        <div class="bs-form-1-item">
                            <label class="bs-form-1-item-label" for="interestType">Interested In</label>
                            <select id="interestType" class="bs-form-1-item-input" name="interestType">
                                <option value="" style="background-color: #fff; color: #000;">Select Service</option>
                                <option value="architecture" style="background-color: #fff; color: #000;">Architecture</option>
                                <option value="interior" style="background-color: #fff; color: #000;">Interior</option>
                                <option value="realestate" style="background-color: #fff; color: #000;">Real Estate</option>
                                <option value="others" style="background-color: #fff; color: #000;">Others</option>
                            </select>
                        </div>
                        <div class="bs-form-1-item  wa-clip-left-right">
                            <label class="bs-form-1-item-label" for="message">message</label>
                            <textarea class="bs-form-1-item-input " name="message" id="message"
                                placeholder="write your message here"></textarea>
                        </div>
                        <div class="bs-form-1-item">
                            <button id="submitBtn" class="bs-btn-1" type="submit" aria-label="submit">
                                <span class="text" id="submitBtnText">Submit Now</span>
                                <span class="icon" id="submitBtnIcon">
                                    <i class="fa-solid fa-right-long"></i>
                                    <i class="fa-solid fa-right-long"></i>
                                </span>
                                <span class="shape"></span>
                            </button>
                        </div>

                    </form>
                    <script>
                        // Simple toast implementation if tostidy/toastify is not available
                        function tostidy(message, type = "info") {
                            // Remove any existing toast
                            const oldToast = document.getElementById("tostidy-toast");
                            if (oldToast) oldToast.remove();

                            const toast = document.createElement("div");
                            toast.id = "tostidy-toast";
                            toast.textContent = message;
                            toast.style.position = "fixed";
                            toast.style.bottom = "32px";
                            toast.style.left = "50%";
                            toast.style.transform = "translateX(-50%)";
                            toast.style.background = type === "success" ? "#28a745" : (type === "error" ? "#dc3545" : "#333");
                            toast.style.color = "#fff";
                            toast.style.padding = "12px 28px";
                            toast.style.borderRadius = "6px";
                            toast.style.fontSize = "1rem";
                            toast.style.boxShadow = "0 2px 12px rgba(0,0,0,0.15)";
                            toast.style.zIndex = "9999";
                            toast.style.opacity = "0";
                            toast.style.transition = "opacity 0.3s";
                            document.body.appendChild(toast);

                            setTimeout(() => { toast.style.opacity = "1"; }, 10);
                            setTimeout(() => {
                                toast.style.opacity = "0";
                                setTimeout(() => { toast.remove(); }, 400);
                            }, 2600);
                        }

                        // Clear form if it was submitted previously (on reload)
                        window.addEventListener("DOMContentLoaded", function () {
                            if (localStorage.getItem("arvies_contact_form_submitted") === "true") {
                                document.getElementById("contactForm").reset();
                                localStorage.removeItem("arvies_contact_form_submitted");
                            }
                        });

                        document.getElementById("contactForm").addEventListener("submit", async function (e) {
                            e.preventDefault();

                            const submitBtn = document.getElementById("submitBtn");
                            const submitBtnText = document.getElementById("submitBtnText");
                            const submitBtnIcon = document.getElementById("submitBtnIcon");

                            // Show loading in button
                            submitBtn.disabled = true;
                            if (submitBtnText) submitBtnText.textContent = "Submitting...";
                            if (submitBtnIcon) {
                                submitBtnIcon.innerHTML = `<span class="spinner" style="display:inline-block;vertical-align:middle;width:18px;height:18px;">
                                    <svg width="18" height="18" viewBox="0 0 50 50">
                                        <circle cx="25" cy="25" r="20" fill="none" stroke="#fff" stroke-width="5" stroke-linecap="round" stroke-dasharray="31.4 31.4" transform="rotate(-90 25 25)">
                                            <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.8s" repeatCount="indefinite"/>
                                        </circle>
                                    </svg>
                                </span>`;
                            }

                            // Collect form data
                            const name = document.getElementById("name").value;
                            const phone = document.getElementById("phone").value;
                            const email = document.getElementById("email").value;
                            const interestType = document.getElementById("interestType").value;
                            const message = document.getElementById("message").value;

                            const formData = { name, phone, email, interestType, message };

                            try {
                                const response = await fetch("/send-realestate-form", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify(formData),
                                });

                                const result = await response.json();

                                if (response.ok) {
                                    tostidy("Form sent successfully via email.", "success");
                                    // Mark as submitted in localStorage
                                    localStorage.setItem("arvies_contact_form_submitted", "true");
                                    // Clear the form
                                    document.getElementById("contactForm").reset();
                                } else {
                                    tostidy("Failed to send email.", "error");
                                }

                                // Send data to WhatsApp
                                const whatsappMessage = `Name: ${name}%0APhone: ${phone}%0AEmail: ${email}%0AInterested In: ${interestType}%0AMessage: ${message}`;
                                const whatsappURL = `https://wa.me/916360425940?text=${whatsappMessage}`;
                                window.open(whatsappURL, '_blank');
                            } catch (err) {
                                console.error(err);
                                tostidy("Something went wrong.", "error");
                            } finally {
                                // Restore button state
                                submitBtn.disabled = false;
                                if (submitBtnText) submitBtnText.textContent = "Submit Now";
                                if (submitBtnIcon) {
                                    submitBtnIcon.innerHTML = `
                                        <i class="fa-solid fa-right-long"></i>
                                        <i class="fa-solid fa-right-long"></i>
                                    `;
                                }
                            }
                        });
                    </script>
                </div>

                <!-- section-title -->
                <h2 class="bs-sec-title-4 bs-contact-4-title wa-split-right wa-capitalize">500+ Trusted Partners Across
                    Kerala</h2>

                <div class="bs-contact-4-img wa-fix wa-img-cover wa-clip-top-bottom">
                    <img class="wa-parallax-img" src="/img/contact/c4-img-2.png" alt="arvies">
                </div>
            </div>
        </div>
    </section>
    <!-- contact-end -->

    <!-- footer-start -->
    <footer class="bs-footer-4-area wa-p-relative wa-fix pt-60" style="position: relative; overflow: hidden;">

        <!-- Background image with reduced opacity -->
        <div style="position: absolute; inset: 0; z-index: 0; pointer-events: none;">
            <img src="/img/arvies/footer.png" alt="arvies"
                style="width:100%; height:100%; object-fit:cover; opacity:0.18;">
        </div>

        <div class="container bs-container-2" style="position: relative; z-index: 1;">
            <div class="bs-footer-4-wrap mb-60">

                <!-- left-side -->
                <div class="bs-footer-4-left">

                    <a href="/" aria-label="name" class="bs-footer-4-logo">
                        <img class="footer-logo" src="/img/arvies/footer-logo.png" alt="arvies">
                    </a>

                    <div class="bs-footer-4-widget">

                        <!-- single-widget -->
                        <div class="bs-footer-4-widget-single">
                            <ul class="bs-footer-4-menu wa-list-style-none">
                                <li>
                                    <a href="/" aria-label="name">home</a>
                                </li>
                                <li>
                                    <a href="/about" aria-label="name">about us</a>
                                </li>

                                <li>
                                    <a href="/projects" aria-label="name">Project sales</a>
                                </li>
                                <li>
                                    <a href="/blogs" aria-label="name">blogs</a>
                                </li>
                                <li>
                                    <a href="/contact" aria-label="name">contact us</a>
                                </li>
                            </ul>
                        </div>

                        <!-- single-widget -->
                        <div class="bs-footer-4-widget-single">
                            <ul class="bs-footer-4-menu wa-list-style-none">
                                <li>
                                    <a href="/architecture" aria-label="name">architecture</a>
                                </li>
                                <li>
                                    <a href="/interior" aria-label="name">Interior</a>
                                </li>
                                <li>
                                    <a href="/realEstate" aria-label="name">real estate</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="name">privacy policy</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="name">terms and conditions</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- right -->
                <div class="bs-footer-4-contact">
                    <h4 class="bs-h-1 title wa-split-up wa-capitalize wa-fix">We're Here to Help</h4>
                    <div class="bs-footer-4-contact-link">
                        <p class="bs-p-4 link-title">Email</p>
                        <a href="mailto:arviesgroup@gmail.com" class="link-elm bs-p-4 wa-clip-left-right">
                            arviesgroup@gmail.com</a>
                        <p class="bs-p-4 link-title">phone</p>
                        <a href="tel: +916360425940" class="link-elm bs-p-4 wa-clip-left-right"> +91 6360 425 940</a>
                        <p class="bs-p-4 link-title">Address</p>
                        <p class="disc-elm bs-p-4 wa-clip-left-right">Arvies, kochi, kerala</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="bs-footer-4-copyright" style="position: relative; z-index: 1;">
            <div class="container bs-container-2">
                <div class="bs-footer-4-copyright-flex">
                    <p class="bs-p-4 bs-footer-4-copyright-text">
                        ©<span class="copyright-year"></span>, <a href="#">Arvis</a> All Rights Reserved | Developed By
                        <a href="https://trivlogic.com/">Trivlogic Private Limited</a>
                    </p>

                    <div class="bs-footer-4-copyright-social">
                        <a href="#" aria-label="name" class="elm-link bs-p-4">
                            <i class="fa-brands fa-facebook-f"></i>
                            facebook
                        </a>
                        <a href="https://www.instagram.com/arvies.architecture?igsh=Mjk4eGtkb2hoaDln" aria-label="name" class="elm-link bs-p-4">
                            <i class="fa-brands fa-instagram"></i>
                            instagram
                        </a>
                        <a href="#" aria-label="name" class="elm-link bs-p-4">
                            <i class="fa-brands fa-x-twitter"></i>
                       X
                        </a>
                        <a href="#" aria-label="name" class="elm-link bs-p-4">
                            <i class="fa-brands fa-linkedin-in"></i>
                            linkedin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->

    <!-- offcanvas-start -->
    <div class="wa-offcanvas-area has-home-2  offcanvas_box_active lenis lenis-smooth">
        <div class="wa-offcanvas-wrap ">

            <!-- top -->
            <div class="wa-offcanvas-top">

                <!-- logo -->
                <a href="/" aria-label="name" class="wa-offcanvas-top-logo">
                    <img src="/img/arvies/footer-logo.png" alt="arvies">
                </a>

                <!-- close-btn -->
                <button class="wa-offcanvas-close offcanvas_box_close" aria-label="name">
                    <span></span>
                    <span></span>
                </button>

            </div>


            <!-- mobile-menu-list -->
            <nav class="mobile-main-navigation mb-50 d-block d-lg-none">
                <ul class="navbar-nav">
                    <li class="">
                        <a style="color: #f16520;" href="/">home</a>

                    </li>

                    <li><a href="/about">about us</a></li>

                    <li class="dropdown">
                        <a href="/architecture">Architecture</a>
                        <ul class="dropdown-menu clearfix">
                            <li><a href="/architectureDesigns?category=Residential">Residential</a></li>
                            <li><a href="/architectureDesigns?category=Commercial">Commercial</a></li>
                            <li><a href="/architectureDesigns?category=Industrial">Industrial</a></li>
                            <li><a href="/architectureDesigns?category=Hospitality">Hospitality</a></li>
                            <li><a href="/architectureDesigns?category=Urban%20Design">Urban Design</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/interior">Interior</a>
                        <ul class="dropdown-menu clearfix">
                            <li><a href="/interiorDesign">Design</a></li>
                            <li><a href="interiorExecution">Execution</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/realEstate">Real Estate</a>
                        <ul class="dropdown-menu clearfix">
                            <!-- <li><a href="siteDevelopment.html">Site Development</a></li> -->
                            <li><a href="/projects">Project Sales
                                </a></li>
                            <!-- <li><a href="/projects">Rental Properties</a></li> -->
                            <!-- <li><a href="purchaseDivision.html">Purchase Division
</a></li>
   <li><a href="consultancy.html">Consultancy</a></li> -->
                        </ul>
                    </li>



                    <li><a href="/blogs">Blogs </a></li>
                    <li><a href="/contact">Contact </a></li>
                </ul>
            </nav>
            <div>

                <p>Arvies is a creative firm specializing in architecture, interior design, urban designing, and real
                    estate. We create thoughtful spaces that blend aesthetic vision with practical excellence.</p>
                <a class="sidebar-btn" href="tel:+916360425940"> <button
                        style="height: 40px; width: 100%; margin-bottom: 15px;"> Free consultation</button></a>
            </div>

            <div class="wa-offcanvas-gallery">
                <h6 class="wa-offcanvas-gallery-title bs-h-1 ">Stay Inspired with Instagram</h6>



                <div class="wa-offcanvas-gallery-grid">
                    <a href="/img/gallery/g2-img-1.png" aria-label="name"
                        class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                        <img src="/img/gallery/g2-img-1.png" alt="arvies">
                    </a>
                    <a href="/img/gallery/g2-img-2.png" aria-label="name"
                        class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                        <img src="/img/gallery/g2-img-2.png" alt="arvies">
                    </a>
                    <a href="/img/gallery/g2-img-3.png" aria-label="name"
                        class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                        <img src="/img/gallery/g2-img-3.png" alt="arvies">
                    </a>
                    <a href="/img/gallery/g2-img-4.png" aria-label="name"
                        class="popup-img wa-offcanvas-gallery-item wa-img-cover wa-fix">
                        <img src="/img/gallery/g2-img-4.png" alt="arvies">
                    </a>
                </div>
            </div>

            <!-- social -->
            <div class="wa-offcanvas-social">
                <h6 class="wa-offcanvas-social-title bs-h-1 ">we're on social media:</h6>

                <div class="wa-offcanvas-social-flex d-flex flex-wrap">
                    <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="wa-offcanvas-social-link " aria-label="name">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/arvies.architecture?igsh=Mjk4eGtkb2hoaDln" class="wa-offcanvas-social-link" aria-label="name">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>

            </div>

        </div>

    </div>
    <div class="wa-overly"></div>
    <!-- offcanvas-end -->

    <!-- search-popup-start -->
    <div class="wa-search-box search_box_active ">

        <div class="wa-search-container">
            <div class="wa-search-wrap text-center mb-55">
                <h5 class="wa-search-title bs-h-2">Search</h5>
                <form action="#" class="wa-search-form">
                    <input class="wa-search-form-input" type="text" placeholder="What are you looking for?...">
                </form>
            </div>


        </div>


    </div>
    <!-- search-popup-end -->
    <nav class="premium-mobile-navbar">
        <div class="premium-navbar-container">
            <a style="color: #f16520!important;" href="/" class="premium-nav-link ">
                <img class="mob-nav-icon" src="/img/icon/menu.svg" alt="arvies">
                <span class="premium-nav-text">Home</span>
            </a>
            <a href="/architecture" class="premium-nav-link">
                <img class="mob-nav-icon" src="/img/icon/architec.svg" alt="arvies">
                <span class="premium-nav-text">Archi</span>
            </a>
            <a href="/interior" class="premium-nav-link">
                <img class="mob-nav-icon" src="/img/icon/inder.svg" alt="arvies">
                <span class="premium-nav-text">Interior</span>
            </a>

            <a href="/projects" class="premium-nav-link active-premium-nav">
                <img class="mob-nav-icon" src="/img/icon/real.svg" alt="arvies">
                <span class="premium-nav-text">real Estate</span>
            </a>

            <a href="/projects" class="premium-nav-link active-premium-nav">
                <img class="mob-nav-icon" src="/img/icon/phone.svg" alt="arvies">
                <span class="premium-nav-text">Contact</span>
            </a>






        </div>
    </nav>

    <div class="social-icon-container" id="whatsappIcon">
        <a href="https://wa.me/+916360425940?text=Hi%20there!%20I%20need%20help.">
            <img src="/img/icon/whatsapp.png" alt="WhatsApp Icon">
        </a>
    </div>
    <!-- back-to-top-button-start -->
    <div class="wa-back-to-top ">
        <span class="wa-back-to-top-text">Top</span>
    </div>
    <!-- back-to-top-button-end -->

    </div>


    <!-- all-JS-link-here -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/text-type.js"></script>
    <script src="/js/matter.js"></script>
    <script src="/js/throwable.js"></script>
    <script src="/js/tilt.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/marquee.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/SplitText.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/CustomEase.min.js"></script>
    <script src="/js/counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/lenis.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        let lastScroll = 0;
        const whatsappIcon = document.getElementById('whatsappIcon');

        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;


            if (currentScroll <= 0) {
                whatsappIcon.classList.remove('show');
                return;
            }


            if (currentScroll > lastScroll) {
                whatsappIcon.classList.add('show');
            }

            else {
                whatsappIcon.classList.remove('show');
            }

            lastScroll = currentScroll;
        });


        class ProjectSliderManager {
            constructor() {
                this.sliders = new Map();
                this.initializeSliders();
                this.bindEvents();
            }

            initializeSliders() {
                const sliderContainers = document.querySelectorAll('.image-slider-container');
                sliderContainers.forEach(container => {
                    const sliderId = container.getAttribute('data-slider');
                    this.sliders.set(sliderId, {
                        currentSlide: 0,
                        totalSlides: container.children.length,
                        container: container
                    });
                });
            }

            bindEvents() {
                // Navigation buttons
                document.querySelectorAll('.slider-nav-buttons').forEach(button => {
                    button.addEventListener('click', (e) => {
                        const targetSlider = e.target.getAttribute('data-target');
                        const isNext = e.target.classList.contains('slider-next');
                        this.navigateSlider(targetSlider, isNext);
                    });
                });

                // Indicator dots
                document.querySelectorAll('.indicator-dot').forEach(dot => {
                    dot.addEventListener('click', (e) => {
                        const slideIndex = parseInt(e.target.getAttribute('data-slide'));
                        const indicatorContainer = e.target.parentElement;
                        const sliderId = indicatorContainer.getAttribute('data-indicators');
                        this.goToSlide(sliderId, slideIndex);
                    });
                });

                // Auto-play functionality
                this.startAutoPlay();
            }

            navigateSlider(sliderId, isNext) {
                const slider = this.sliders.get(sliderId);
                if (!slider) return;

                if (isNext) {
                    slider.currentSlide = (slider.currentSlide + 1) % slider.totalSlides;
                } else {
                    slider.currentSlide = slider.currentSlide === 0 ?
                        slider.totalSlides - 1 : slider.currentSlide - 1;
                }

                this.updateSliderPosition(sliderId);
                this.updateIndicators(sliderId);
            }

            goToSlide(sliderId, slideIndex) {
                const slider = this.sliders.get(sliderId);
                if (!slider) return;

                slider.currentSlide = slideIndex;
                this.updateSliderPosition(sliderId);
                this.updateIndicators(sliderId);
            }

            updateSliderPosition(sliderId) {
                const slider = this.sliders.get(sliderId);
                if (!slider) return;

                const translateX = -slider.currentSlide * 100;
                slider.container.style.transform = `translateX(${translateX}%)`;
            }

            updateIndicators(sliderId) {
                const indicatorContainer = document.querySelector(`[data-indicators="${sliderId}"]`);
                if (!indicatorContainer) return;

                const dots = indicatorContainer.querySelectorAll('.indicator-dot');
                const slider = this.sliders.get(sliderId);

                dots.forEach((dot, index) => {
                    dot.classList.toggle('active-indicator', index === slider.currentSlide);
                });
            }

            startAutoPlay() {
                setInterval(() => {
                    this.sliders.forEach((slider, sliderId) => {
                        this.navigateSlider(sliderId, true);
                    });
                }, 4000); // Change slide every 4 seconds
            }
        }

        // Initialize the slider manager when the page loads
        document.addEventListener('DOMContentLoaded', () => {
            new ProjectSliderManager();
        });

        // Add touch/swipe support for mobile
        document.querySelectorAll('.image-slider-wrapper').forEach(wrapper => {
            let startX = 0;
            let startY = 0;
            let distX = 0;
            let distY = 0;

            wrapper.addEventListener('touchstart', (e) => {
                startX = e.touches[0].clientX;
                startY = e.touches[0].clientY;
            });

            wrapper.addEventListener('touchmove', (e) => {
                e.preventDefault();
            });

            wrapper.addEventListener('touchend', (e) => {
                if (!startX || !startY) return;

                distX = e.changedTouches[0].clientX - startX;
                distY = e.changedTouches[0].clientY - startY;

                const sliderId = wrapper.querySelector('.image-slider-container').getAttribute('data-slider');

                if (Math.abs(distX) > Math.abs(distY) && Math.abs(distX) > 50) {
                    if (distX > 0) {
                        // Swipe right - previous slide
                        document.querySelector(`[data-target="${sliderId}"].slider-prev`).click();
                    } else {
                        // Swipe left - next slide
                        document.querySelector(`[data-target="${sliderId}"].slider-next`).click();
                    }
                }

                startX = 0;
                startY = 0;
            });
        });
    </script>
</body>

</html>